

/* Level CSS */
.level .left-col {
    float:left;
    height:700px;
    width: 150px;
    background:#6b6b6b;
    border:1px solid #fff;
    margin-right:20px;
}

.level .main-col {
    float:left;
    height:700px;
    width: 826px;
    background:#4a4a4a;
    border:1px solid #fff;
}
.level-menu li {
    width:100%;
    text-align: center;
    margin:9px 0;
    cursor:pointer;
}
#playground {
    position: relative;
}
.level .tile {
    height:87px;
    width:100px;
    background:url(../resources/img/tile.png);
    position: absolute;
}
.level .tile.active {
    background:url(../resources/img/active-tile.png);
}
.level #mousefollower {
    position: absolute;
    z-index:1000;
}
.level .atomshape {
    height:36px;
    width:36px;
    border-radius:36px;
    text-align: center;
    line-height: 36px;
    color:#fff;
    font-size:24px;
    text-shadow:0 1px 0 #000;
    position: absolute;
    top:25px;
    left:31px;
    cursor: pointer;
}
.level .electron {
    border-radius:12px;
    position: absolute;
    top:39px;
    left:44px;
    height:0;
    width:0;
}
.level .electron.free {
    border:5px solid #fff;
}
.level .electron.waiting {
    border:5px solid #f00;
}
.level .electron.used {
    display:none
}
@keyframes electron-1 {
    from {
        transform: rotate(0deg)
        translate(28px)
        rotate(0deg);
    }
    to {
        transform: rotate(360deg)
        translate(28px)
        rotate(-360deg);
    }
}
@keyframes electron-2-2 {
    from {
        transform: rotate(180deg)
        translate(28px)
        rotate(0deg);
    }
    to {
        transform: rotate(540deg)
        translate(28px)
        rotate(-360deg);
    }
}
@keyframes electron-2-3 {
    from {
        transform: rotate(120deg)
        translate(28px)
        rotate(0deg);
    }
    to {
        transform: rotate(480deg)
        translate(28px)
        rotate(-360deg);
    }
}
@keyframes electron-3-3 {
    from {
        transform: rotate(240deg)
        translate(28px)
        rotate(0deg);
    }
    to {
        transform: rotate(600deg)
        translate(28px)
        rotate(-360deg);
    }
}
@keyframes electron-3-4 {
    from {
        transform: rotate(90deg)
        translate(28px)
        rotate(0deg);
    }
    to {
        transform: rotate(450deg)
        translate(28px)
        rotate(-360deg);
    }
}
@keyframes electron-4-4 {
    from {
        transform: rotate(270deg)
        translate(28px)
        rotate(0deg);
    }
    to {
        transform: rotate(630deg)
        translate(28px)
        rotate(-360deg);
    }
}
@keyframes electron-2-5 {
    from {
        transform: rotate(72deg)
        translate(28px)
        rotate(0deg);
    }
    to {
        transform: rotate(432deg)
        translate(28px)
        rotate(-360deg);
    }
}
@keyframes electron-3-5 {
    from {
        transform: rotate(144deg)
        translate(28px)
        rotate(0deg);
    }
    to {
        transform: rotate(504deg)
        translate(28px)
        rotate(-360deg);
    }
}
@keyframes electron-4-5 {
    from {
        transform: rotate(216deg)
        translate(28px)
        rotate(0deg);
    }
    to {
        transform: rotate(576deg)
        translate(28px)
        rotate(-360deg);
    }
}
@keyframes electron-5-5 {
    from {
        transform: rotate(288deg)
        translate(28px)
        rotate(0deg);
    }
    to {
        transform: rotate(648deg)
        translate(28px)
        rotate(-360deg);
    }
}
@keyframes electron-2-6 {
    from {
        transform: rotate(60deg)
        translate(28px)
        rotate(0deg);
    }
    to {
        transform: rotate(420deg)
        translate(28px)
        rotate(-360deg);
    }
}
@keyframes electron-3-6 {
    from {
        transform: rotate(120deg)
        translate(28px)
        rotate(0deg);
    }
    to {
        transform: rotate(480deg)
        translate(28px)
        rotate(-360deg);
    }
}
@keyframes electron-5-6 {
    from {
        transform: rotate(240deg)
        translate(28px)
        rotate(0deg);
    }
    to {
        transform: rotate(600deg)
        translate(28px)
        rotate(-360deg);
    }
}
@keyframes electron-6-6 {
    from {
        transform: rotate(300deg)
        translate(28px)
        rotate(0deg);
    }
    to {
        transform: rotate(660deg)
        translate(28px)
        rotate(-360deg);
    }
}
.level .electron.nr-1 {
    animation: electron-1 5s infinite linear;
}
.level .electron.nr-2.count-2,.level .electron.nr-2.count-4,.level .electron.nr-4.count-6 {
    animation: electron-2-2 5s infinite linear;
}
.level .electron.nr-2.count-3 {
    animation: electron-2-3 5s infinite linear;
}
.level .electron.nr-3.count-3 {
    animation: electron-3-3 5s infinite linear;
}
.level .electron.nr-3.count-4 {
    animation: electron-3-4 5s infinite linear;
}
.level .electron.nr-4.count-4 {
    animation: electron-4-4 5s infinite linear;
}
.level .electron.nr-2.count-5 {
    animation: electron-2-5 5s infinite linear;
}
.level .electron.nr-3.count-5 {
    animation: electron-3-5 5s infinite linear;
}
.level .electron.nr-4.count-5 {
    animation: electron-4-5 5s infinite linear;
}
.level .electron.nr-5.count-5 {
    animation: electron-5-5 5s infinite linear;
}
.level .electron.nr-2.count-6 {
    animation: electron-2-6 5s infinite linear;
}
.level .electron.nr-3.count-6 {
    animation: electron-3-6 5s infinite linear;
}
.level .electron.nr-5.count-6 {
    animation: electron-5-6 5s infinite linear;
}
.level .electron.nr-6.count-6 {
    animation: electron-6-6 5s infinite linear;
}
.level .link {
    position: absolute;
    height:0px;
    border:2px solid #dadada;
}
.level .atom .menu {
    position: absolute;
    top:50px;
    left:60px;
    width:150px;
    z-index:300;
    background:#fff;
    text-align: center;

}
.level .atom .menu li {
    color: #333;
    font-size: 14px;
    line-height: 25px;
    text-shadow: none;
    cursor: pointer;
}
.level .atom .menu li:hover {
    background:#eee;
}
.level .atom .menu li.close {
    background:#fff;
    border: 3px solid;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -13px;
    top: -14px;
    width: 20px;
}