@font-face {
    font-family: 'kirsten';
    src: url( ../resources/fonts/Kristen-ITC-Regular.ttf);
    url('../resources/img/Kristen-ITC-Regular.ttf') format('truetype');             /* Moderne Browser */
}

* {
    margin:0;
    padding:0;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul {
    list-style: none;
}
html {
    background: #3e3e3e;
    height: 100%;
}
body{
    height: 100%;
    overflow: hidden;
}
.wrapper {
    height: 100%;
    width:1200px;
    margin: 0px auto;
    padding-top: 20px;
}