/* Menu CSS */
div.menu{
    position:relative;
    height:100%;
}
img.logo{
    top: -300px;
    position:relative;
    z-index:1;
}

/* menu */
nav ul li{
    float:left;
    margin-bottom:20px;
    margin-left:13px;
}
nav ul li:first-child{
    margin-left:0;
}
nav ul li a{
    color:#b3b3b3;
    text-decoration:none;
    font-size:17px;
    line-height:30px;
}
nav ul li a:hover{
    color:#3e3e3e;
}

nav ul li a > div{
    width:110px;
    height:30px;
    border:1px solid #fff;
    border-right-width:2px;
    border-left-width:2px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:#3e3e3e;
    text-align:center;
}
nav ul li a:hover > div, nav ul li:hover > a > div{
    -webkit-transition:background ease .4s;
    -moz-transition:background ease .4s;
    -o-transition:background ease .4s;
}



/*level menu */
nav#level{
    position:relative;
    top:50px;
    z-index:1;
}

nav#level > ul > li > a{
    font-weight:bold;
}
nav#level ul li a > div{
    border-color:#b3b3b3;
}

nav#level ul li a > div span{
    display:inline-block;
    float:right;
    width:30px;
    height:30px;
    background:url(../resources/img/checkmarks.png);
    background-position:0 0;
}
nav#level ul li:hover > a > div > span{
    background-position:-31px 0;
}
 nav#level ul li.done > a > div > span{
    background-position:-60px 0;
}

nav#level ul li a:hover, nav#level ul li a.done{
    color:#fff;
}
nav#level ul li a:hover > div, nav#level ul li.done > a > div, nav#level ul li:hover > a > div{
    border-color:#fff;
}

/* level sub menu + shutter effect */
nav#level ul ul li{
    float:none;
    margin:5px 0;
}
nav#level ul li:hover > a > div{
    color:#3e3e3e;
    background:#fff;
}

nav#level ul li > ul li{
    opacity:0;
    /*transition*/
    -webkit-transition:opacity ease .2s;
    -moz-transition:opacity ease .2s;
    -o-transition:opacity ease .2s;
    transition:opacity ease .2s;
}
nav#level ul li:hover > ul li:first-child{
    opacity:1;
    /*transition*/
    -webkit-transition:opacity .3s ease-out;
    -moz-transition:opacity .3s ease-out;
    -o-transition:opacity .3s ease-out;
    transition:opacity .3s ease-out;
}
nav#level ul li:hover > ul li:nth-child(2){
    opacity:1;
    /*transition*/
    -webkit-transition:opacity .4s ease-out .1s;
    -moz-transition:opacity .4s ease-out .1s;
    -o-transition:opacity .4s ease-out .1s;
    transition:opacity .4s ease-out .1s;
}
nav#level ul li:hover > ul li:nth-child(3){
    opacity:1;
    /*transition*/
    -webkit-transition:opacity .5s ease-out 0.2s;
    -moz-transition:opacity .5s ease-out 0.2s;
    -o-transition:opacity .5s ease-out 0.2s;
    transition:opacity .5s ease-out 0.2s;
}




/* top-menu */
nav#top-menu{
    position:absolute;
    top: 56px;
    right:0;
}
nav#top-menu ul li a{
    color:#3e3e3e;
}
nav#top-menu ul li a:hover{
    color: #ffffff;
}

nav#top-menu ul li a > div{
    background:#ffffff;
}
nav#top-menu ul li a:hover > div{
    background:#3e3e3e;
}


/* periodic system of elements */
#pse{
    position:absolute;
    width:1210px;
    /*top:280px; */
    top: 50%;
    left:50%;
    /*transform*/
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
}
#pse .atom{
    position:relative;
    display:inline-block;
    margin: 3px;
    width:61px; /* 1210/18= 67,2 --> -2*3margin = 61 */
    height:61px;
    background:url(../resources/img/atom-sprite.jpg);
    background-size: 8300%; /* scalable icons https://coderwall.com/p/frib5a */
    vertical-align:top;
}

/* hide elements on load */
nav { opacity: 0 }