/* Startscreen CSS */
.start {
    text-align: center;
    font-size: 0;
    position: relative;
}

.start a {
    text-decoration: none;
}

.start .overlay {
    z-index: 1;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    opacity: 0;

    background: rgba(80, 80, 80, 0.56);
    position: fixed;
}

.start img.logo{
    z-index: 1;
    width: 600px;

    position: fixed;
    top: -300px;
    left: 50%;
    transform: translate(-50%, -60%);
}

.start span.button {
    z-index: 2;
    font-family: kirsten, serif;
    color: #fff;
    background: #df7d1b;
    transition: background ease .5s;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.6);
    font-size: 25px;
    padding: 5px 20px;
    opacity: 0;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.start span.button:hover {
    z-index: 2;
    background: #14748a;
}

.start .atom {
    background:url(../resources/img/atom-sprite.jpg);
    height: 45px;
    width: 45px;

    vertical-align: top;
    display: inline-block;
    zoom: 1;
    margin: 60px;
    position: relative;
}

/* Elements floating  animation */
@-webkit-keyframes floating {
    from {
        transform: rotate(0deg)
        translate(16px)
        rotate(0deg);
    }
    to {
        transform: rotate(360deg)
        translate(16px)
        rotate(-360deg);
    }
}

@keyframes floating {
    from {
        transform: rotate(0deg)
        translate(16px)
        rotate(0deg);
    }
    to {
        transform: rotate(360deg)
        translate(16px)
        rotate(-360deg);
    }
}


