<div class="level">
    <div id="mousefollower"></div>
    <div class="popup">
        <div class="overlay"></div>
        <div class="box">
            <div class="content">Das ist ein Testtext, du hast was falsch gemacht!</div>
            <div class="button">
                <span onclick="jQuery('.popup').hide();" >OK</span>
            </div>
        </div>
    </div>
    <div class="left-col">
        <div class="actions">
            <span class="toggleLinkMode" onclick="toggleLinkMode();">Link Atoms</span>
            <span class="toggleDeleteMode" onclick="toggleDeleteMode();">Delete Atoms</span>
        </div>
        <ul class="level-menu">
            <li ng-repeat="atom in atoms" ng-click="getElement(atom.sign,atom.free,atom.color)" >
                <img ng-src="resources/img/menu-elements/{{atom.sign}}.jpg" title="{{atom.name}}" >
            </li>
        </ul>
    </div>
    <div class="main-col" id="playground">

    </div>
    <div class="right-col">
        <ul class="level-info">
            <li class="name">{{task.name}}</li>
            <li class="hint"><span class="hint" hint="{{task.hint}}">Hint</span></li>
            <li class="desc">{{task.desc}}</li>
        </ul>
        <a href="#/menu"><span class="back">Back to Menu</span></a>
    </div>
</div>

