<div class="menu">
    <!--<img class="logo" src="resources/img/logo.png" title="Start">-->
    <img class="logo" src="resources/img/logo.png" title="Atomizer - the Game" width="300">
    <nav id="top-menu">
        <ul>
            <li><a href="#/labor">
                <div>Labor</div>
            </a></li>
            <li><a href="#/anleitung">
                <div>Anleitung</div>
            </a></li>
            <li><a href="#/about">
                <div>About</div>
            </a></li>
        </ul>
    </nav>

    <nav id="level">
        <ul>
            <li class="active">
                <a href="#">
                    <div>Level 1<span class="done"></span></div>
                </a>
                <ul>
                    <li><a href="#/level?level=1&task=1">
                        <div>Stufe 1<span class="done"></span></div>
                    </a></li>
                    <li><a href="#/level?level=1&task=2">
                        <div>Stufe 2<span></span></div>
                    </a></li>
                    <li><a href="/level?level=1&task=3">
                        <div>Stufe 3<span></span></div>
                    </a></li>
                </ul>
            </li>
            <li><a href="#">
                <div>Level 2<span></span></div>
            </a></li>
            <li>
                <a href="#">
                    <div>Level 3<span></span></div>
                </a>
            </li>
            <li><a href="#">
                <div>Level 4<span></span></div>
            </a></li>
            <li><a href="#">
                <div>Level 5<span></span></div>
            </a></li>
        </ul>
    </nav>

    <!-- !!!bg!  Freigeschaltete Atome bunt andere gegraut? -->


    <footer>
        <ul>
            <li><a href="#/start">Startseite</a></li>
            |
            <li><a href="#/impressum">Impressum</a></li>
            |
            <li><a href="#/agb">AGB</a></li>
            |
            <li><a href="#/datenschutz">Datenschutz</a></li>
        </ul>
    </footer>
</div>
