<div class="menu">
    <img class="logo" src="resources/img/logo_alpha.png" title="Atomizer - the Game">
    <nav id="top-menu">
        <ul>
            <li><a href="#/labor" title="Deine gesammelten Moleküle">
                <div>Labor</div>
            </a></li>
            <li><a href="#/about" title="Credits - das Team">
                <div>About</div>
            </a></li>
            <li><a href="http://en.wikipedia.org/wiki/Atomizer_(band)" title="Neues Add-On: Hol dir jetz die Edelgase!" target="_blank">
                <div>News</div>
            </a></li>
        </ul>
    </nav>

   <!-- Expression: {{levels}} -->

    <nav id="level">
        <ul>
            <li class="{{level.done}} done" ng-repeat="(key,level) in levels">
                <a href="#/menu">
                    <div title="{{level.name}}">Level {{key+1}}<span></span></div>
                </a>
                <ul>
                    <li class="{{task.done}}" ng-repeat="(taskKey,task) in level.tasks">
                        <a href="#/level?level={{key+1}}&task={{taskKey+1}}">
                            <div title="{{task}}">Stufe {{taskKey+1}}<span></span></div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="pse"></div>
</div>


