<div class="menu">
    <!--<img class="logo" src="resources/img/logo.png" title="Start">-->
    <nav id="navigation">
        <ul>
            <li>
                <ul class="submenu">
                    <li class="active"><a href="#/level?level=1&task=1">
                        <div>Level 1.1<span class="done"></span></div>
                    </a></li>
                    <li><a href="#/level?level=1&task=2">
                        <div>Level 1.2<span></span></div>
                    </a></li>
                    <li><a href="/level?level=1&task=3">
                        <div>Level 1.3<span></span></div>
                    </a></li>
                    <li><a href="/level?level=2&task=1">
                        <div>Level 2.1<span></span></div>
                    </a></li>
                    <li><a href="/level?level=2&task=2">
                        <div>Level 2.2<span></span></div>
                    </a></li>
                </ul>
            </li>
            <li>
                <a href="#/labor"><div>Labor</div></a>
            </li>
            <li>
                <a href="#/anleitung"><div>Anleitung</div></a>
            </li>

            <li>
                <a href="#/about"><div>About</div></a>
            </li>
        </ul>
    </nav>

    <!-- !!!bg!  Freigeschaltete Atome bunt andere gegraut? -->


    <footer>
        <ul>
            <li><a href="#/start">Startseite</a></li> |
            <li><a href="#/impressum">Impressum</a></li>  |
            <li><a href="#/agb">AGB</a></li>  |
            <li><a href="#/datenschutz">Datenschutz</a></li>
        </ul>
    </footer>
</div>
